.HeaderBox{
	width: 100%;
	height: 100px;
	box-shadow: 0px 8px 10px #f3f3f3;
	position:fixed;
	top:0;
	left:0;
	z-index: 9999;
	background:#fff;
	margin-bottom:108px;
}
.header{
	width: 1200px;
	height: 100px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	display:table-cell
}
.logo{
	width: 240px;
	height: 46px;
	float: left;
	margin-top: 35px;
}
.Rightbox{
	width: 600px;
	height: 100px;
	float: right;
}
.Hellp{
	width: 192px;
	height: 28px;
	margin-top: 22px;
	float: right;
	font-size: 15px;
}
.Hellp a{
	line-height:28px;
	padding: 0 7px;
	color: #ce4239;
	float: left;
}
.Hellp span.LineS{
	width: 2px;
	height: 14px;
	background: #ce4239;
	float: left;
	margin-top: 7px;
}
.Hellp a.HellpA{
	color: #ababab;
	margin-right: 4px;
}
.Hellp a.HellpA:hover{
	color: #888;
}
.Hel{
	width:16px; 
	height: 16px;
}
.headerNav{
	clear: both;
	width: 560px;
	height: 50px;
	color: #636363;
	font-size: 15px;
	float: right;
}
.headerNav a{
	line-height: 50px;
	padding: 0 15px;
	float: left;
}
.headerNav a:last-child{
	padding: 0 0 0 15px;
}
.headerNav span{
	width: 1px;
	height: 14px;
	background: #d5d5d5;
	float: left;
	margin-top: 19px;
}
.headerNav a:after{
	content: '';
	width: 22px;
	height: 4px;
	background: #cd403b;
	position: absolute;
	top: 46px;
	left: 50%;
	margin-left: -11px;
	display: none;
}
.headerNav a.Index{
	position: relative;
	color: #cd403b;
}
.headerNav a.Index:after{
	content: '';
	width: 22px;
	height: 4px;
	background: #cd403b;
	position: absolute;
	top: 46px;
	left: 50%;
	margin-left: -11px;
	display: block;
}